<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POS:menu</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="pos.css" />
  </head>

  <body>
    <h1>Café Resh</h1>
    <header>
      <div id="customerNameSection">
        <label for="customerName">Name:</label>
        <input type="text" id="customerName" required />
        <button id="submit" action="submit">Submit</button>
        <!-- <ul>
          <li class="total"></li>
        </ul> -->
      </div>
      <section class="routesForPages">
        <button><a href="/profile">orders</a></button>
      </section>
      <section class="routesForPages">
        <button><a href="/"> home</a></button>
      </section>
      <section class="routesForPages">
        <button><a href="/login">login</a></button>
      </section>
    </header>
   
    <!-- driunk menu -->
   

 <section class="choices">
  <section class="designBox">
    <h4>coffee</h4>
    <div id="coffee">
      <button
        class="drink"
        id="microCoffee"
        value="2.50"
        data-order="Micro Coffee"
      >
        <span>Micro Coffee</span>  $2.45
      </button>
      <button
        class="drink"
        id="coffeeSmall"
        value="2.50"
        data-order="Small coffee"
      >
        <span>S coffee</span>  $2.50
      </button>
      <button
        class="drink"
        id="coffeeMedium"
        value="3.50"
        data-order="Medium coffee"
      >
        <span>M coffee</span>  $3.50
      </button>
      <button
        class="drink"
        id="coffeeLarge"
        value="4.50"
        data-order="Large coffee"
      >
        <span>L Coffee</span>  $4.50
      </button>
      <button
        class="drink"
        id="coffeeXtraLarge"
        value="4.50"
        data-order="Xtra Large coffee"
      >
        <span>Xtra L Coffee</span>  $7.50
      </button>
    </div>
  </section>

  <section class="designBox">
    <h4>tea</h4>
    <div id="tea">
      <button
        class="drink"
        id="microTea"
        value="2.50"
        data-order="Micro Tea"
      >
        <span>microTea</span>  $2.45
      </button>

      <button
        class="drink"
        id="teaSmall"
        value="2.50"
        data-order="Small tea"
      >
        <span>S tea</span>  $2.50
      </button>
      <button
        class="drink"
        id="teaMedium"
        value="3.50"
        data-order="Medium tea"
      >
        <span>M tea</span>  $3.50
      </button>
      <button
        class="drink"
        id="teaLarge"
        value="4.50"
        data-order="Large tea"
      >
        <span>L tea</span>  $4.50
      </button>
      <button
        class="drink"
        id="teaXtraLarge"
        value="4.50"
        data-order="Xtra Large Tea"
      >
        <span>Xtra L Tea</span>  $4.50
      </button>
    </div>
  </section>

  <section class="designBox">
    <h4>Juice</h4>
    <div id="juice">
      <button
        class="drink"
        id="ginger Shot"
        value="3.50"
        data-order="Ginger Shot"
      >
        <span>Ginger Shot</span>  $3.15
      </button>
      <button
        class="drink"
        id="juiceSmall"
        value="3.50"
        data-order="Small Juice"
      >
        <span>S Juice</span>  $3.50
      </button>
      <button
        class="drink"
        id="juiceMedium"
        value="4.50"
        data-order="Medium Juice"
      >
        <span>M Juice</span>  $4.50
      </button>
      <button
        class="drink"
        id="juiceLarge"
        value="5.50"
        data-order="Large Juice"
      >
        <span>L Juice</span>  $5.50
      </button>
      <button
        class="drink"
        id="juiceXtraLarge"
        value="5.50"
        data-order="Xtra Large Juice"
      >
        <span>Xtra L Juice</span>  $5.50
      </button>
    </div>
  </section>

  <section class="designBox">
    <h4>smoothie</h4>
    <div id="smoothie">
      <button
        class="drink"
        id="smoothieStraw"
        value="2.50"
        data-order="Strawberry"
      >
        <span>Strawberry</span>  $2.50
      </button>
      <button
        class="drink"
        id="smoothieMixBerry"
        value="2.50"
        data-order="Mixed Berry"
      >
        <span>Mixed Berry</span>  $2.50
      </button>
      <button
        class="drink"
        id="smoothieBlue"
        value="3.50"
        data-order="Blueberry"
      >
        <span>Blueberry</span>  $3.50
      </button>

      <button
        class="drink"
        id="smoothieMango"
        value="4.50"
        data-order="mango"
      >
        <span>Mango</span>  $4.50
      </button>
      <button 
        class="drink" 
        id="citrus" 
        value="4.50" 
        data-order="Citrus">
        <span>Citrus</span>  $4.50
      </button>
    </div>
  </section>

  <section class="designBox">
    <h4>Order</h4>
    <div id="totalBox">
      <ul>
        <li class="total"></li>
      </ul>
    </div>
  </section>

</section>
   
    <section class="choices">
      <section class="designBox">
        <h4>donuts</h4>
        <div id="donut">
          <button
            class="food"
            id="classicDonut"
            value="2.50"
            data-order="Classic Donut"
          >
            <span>Classic</span>  $2.45
          </button>
          <button
            class="food"
            id="chocolate"
            value="2.50"
            data-order="Chocolate Donut"
          >
            <span>Chocolate</span>  $2.50
          </button>
          <button
            class="food"
            id="jellyDonut"
            value="3.50"
            data-order="Jelly Donut"
          >
            <span>Jelly</span>  $3.50
          </button>
          <button
            class="food"
            id="sprinkleDonut"
            value="4.50"
            data-order="Sprinkle Donut"
          >
            <span>Sprinkle</span>  $4.50
          </button>
          <button
            class=" food"
            id="churros"
            value="4.50"
            data-order="churros"
          >
            <span>Churros (2)</span>  $3.11
          </button>
        </div>
      </section>

      <section class="designBox">
        <h4>bagel</h4>
        <div id="bagel">
          <button
            class="food"
            id="regularBagel"
            value="2.50"
            data-order="regular Bagel"
          >
            <span>Regular</span>  $2.45
          </button>

          <button
            class="food"
            id="everythingBagel"
            value="2.50"
            data-order="Everything Bagel"
          >
            <span>Everything </span>  $2.50
          </button>
          <button
            class="food"
            id="pumpernickleBagel"
            value="3.50"
            data-order="Pumpernickle Bagel"
          >
            <span>Pumpernickle</span>  $3.50
          </button>
          <button
            class="food"
            id="poppyBagel"
            value="4.50"
            data-order="Poppy Bagel"
          >
            <span>Poppy</span>  $4.50
          </button>
          <button
            class="food"
            id="garlicBagel"
            value="4.50"
            data-order="Garlic Bagel"
          >
            <span>Garlic</span>  $4.50
          </button>
        </div>
      </section>

      <section class="designBox">
        <h4>scone</h4>
        <div id="scone">
          <button
            class="food"
            id="Chocolate scone"
            value="3.50"
            data-order="Chocolate Scone"
          >
            <span>Chocolate</span>  $3.15
          </button>
          <button
            class="food"
            id="sconeBlueberry"
            value="3.50"
            data-order="Blueberry Scone"
          >
            <span>Blueberry</span>  $3.50
          </button>
          <button
            class="food"
            id="sconeStrawberry"
            value="4.50"
            data-order="Strawberry Scone"
          >
            <span>Strawberry</span>  $4.50
          </button>
          <button
            class="food"
            id="sconeCoconut"
            value="5.50"
            data-order="Coconut Scone"
          >
            <span>Coconut</span>  $5.50
          </button>
          <button
            class="food"
            id="sconeRambutan"
            value="5.50"
            data-order="Rambutan Scone"
          >
            <span>Rambutan</span>  $5.50
          </button>
        </div>
      </section>

      <section class="designBox">
        <h4>muffin</h4>
        <div id="muffin">
          <button
            class="food"
            id="muffinRaspberry"
            value="2.50"
            data-order="Raspberry Muffin"
          >
            <span>Raspberry  </span>  $2.50
          </button>
          <button
            class="food"
            id="muffinWalnut"
            value="2.50"
            data-order="Walnut muffin"
          >
            <span>walnut  </span>  $2.50
          </button>
          <button
            class="food"
            id="muffinCoconut"
            value="3.50"
            data-order="Coconut muffin"
          >
            <span>Coconut  </span>  $3.50
          </button>

          <button
            class="food"
            id="muffinPumpkin"
            value="4.50"
            data-order="pumpkin muffin"
          >
            <span>pumpkin  </span>  $4.50
          </button>
          <button class="food" id="bananaNutMuffin" value="4.50" data-order="banana nut muffin">
            <span>banana nut  </span>  $4.50
          </button>
        </div>
      </section>
      <section class="designBox">
        <h4>Add Ons</h4>
        <div id="additives">
          <button
            class="food"
            id="agave"
            value="2.50"
            data-order="agave"
          >
            <span>agave</span> $.50
          </button>
          <button
            class="food"
            id="cream"
            value="2.50"
            data-order="cream"
          >
            <span>cream</span>  $.50
          </button>
          <button
            class="food"
            id="mochaFlavoring"
            value="3.50"
            data-order="mochaFlavoring"
          >
            <span>mocha</span>  $.50
          </button>

          <button
            class="food"
            id="hazelFlavoring"
            value="4.50"
            data-order="hazelFlavoring"
          >
            <span>hazel</span> $.50
          </button>
          <button class="food" id="citrus" value="4.50" data-order="Citrus">
            <span>mint </span> $.50
          </button>
        </div>
      </section>

      <!-- <section class='choices'>
        
        <div id="additives">
          <h4>Additives</h4>
            <button class="additive" id="regSugar" value=".25" data-order="Regular Sugar">
              <span>Regular Sugar</span>  $0.25
            </button>
            <button class="additive" id="splenda" value=".25" data-order="Splenda">
              <span>Splenda</span>  $0.50
            </button>
            <button class="additive" id="agave" value=".25" data-order="Agave">
              <span>Agave</span>  $0.75
            </button>
         </div>
      </section> -->

      <!-- discuss with nathan about how he did his additives. So we can add cream for the Donut or tea. Juice you can decide if you want a straw or not.  -->
    </section>
    <!-- juice will have different berries to put in your juice, muffin will have different herbs and berries -->
    <!-- <div class='DonutAdditives'></div>
  <div class='teaAdditives'></div>
  <div class='juiceAdditives'></div> -->

    <script src="order.js"></script>
  </body>
</html>

<!-- what's left, delete button and to add elements to a completed folder. 


delete button? put the id in that element of the trash, select that for the event listener, and then just push that id through. see if that works. remember to change it int he js main and server side. review ellie app, chore list and roulette!!!-->
