<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <body class="main-bg">
        <div class='container signUp' >
                    <h3 >Coffee POS</h3>
                    <p >Sign UP</p>
                <div class="container-content">
                    <form action="/signup" method="post">

                        <div class="form-group">
                            <!-- <label>email</label> -->
                            <input type="text" name="email" class="form-control" placeholder="Name" required="">
                        </div>
                        <div class="form-group">
                            <!-- <label>Password</label> -->
                            <input type="password" name="password" class="form-control" placeholder="****" required="">
                        </div>
                        <button type="submit" class="form-button button-l margin-b">Sign Up</button>
        
           
                        <p class="text-whitesmoke text-center"><small>Already have an account?</small></p>
                        <a href="/login"><small>Log In</small></a>
                    </form>
                
                </div>
            </div>
</body>
</body>
</body>
</html>
