body {
  background: #66635B;
}

a{
  color: rgba(224, 184, 109, 0.877); 
}
a:hover{
  color: rgba(230, 170, 61, 0.877); 
  text-decoration: none;

}
.logForSignUp{
  color: rgba(224, 184, 109, 0.877); 
  background: #66635B;
  padding:1%;
}
.form-group{
  margin-bottom:1%;
}
.container {
  background: rgba(224, 184, 109, 0.877);
  width: 500px;
  height: 300px;
  margin-top: 15%;
  border-radius: 10% 30% 50% 70%;
  color: white;
  text-align: center;
  padding: 5%;
}

.email {
  border-radius: 10% 30% 40% 40%;
}

hr{
  visibility:hidden;
}

.signUp {
  background: rgba(224, 184, 109, 0.877);
  width: 500px;
  height: 300px;
  margin-top: 15%;
  border-radius: 10% 30% 50% 55%;
  color: white;
  text-align: center;
  padding: 5%;
}
