body {
  background: url("/img/secondBackground.jpg");
  text-align: center;
  color: #4c5760;
}
button:hover {
  background: rgba(224, 184, 109, 0.877);
}

a {
  text-decoration: none;
}

header {
  border: black solid 1px;
  display: flex;
  width: 50%;
  height: 45px;
  padding: 14px;
  background: #66635B;
  /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2); */
  margin: auto;
  margin-top: 2%;
  border-radius: 30px;
  color:white; 
}
header button {
  margin: 2px;
  border-radius: 30px;
  height: 40px;
}
.routesForPages button{
  width: 100%;
}


#customerNameSection {
  flex: 3;
}
#customerName {
  width: 25%;
}

.routesForPages {
  flex: 1;
}
ul {
  margin: 0%;
  padding: 0%;
}
.choices {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  /* margin: 7px 15px 7px 15px; */
}

.designBox {
  /* box-shadow: 12px 12px 2px 1px rgba(20, 185, 235, 0.788); */
  flex: 1;
  width: 120px;
  padding: 2%;
  border-radius: 2px;
}

#coffee,
#tea,
#juice,
#smoothie,
#totalBox,
#additives,
#muffin,
#bagel,
#donut,
#scone {
  border: 1px solid black;
  height: 250px;
  /* flex: 1; */
  margin: auto;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  /* overflow:auto; */
  background: #A59E8C;
}

#totalBox,
#additives {
  overflow: auto;
  width: 125px;
  background: #66635B;
  color: white;
}

/* swatch colors */
/* #4C5760
#93A8AC
#D7CEB2
#A59E8C
#66635B */
h1 {
  margin: auto;
  margin-top:2%;
  margin-bottom: 0%;
  padding: 0%;
  background:  #4c5760;
  border-radius: 30px;
  width: 20%;
  color:rgb(236, 224, 199);
  font-size: 4vw;
  box-shadow: 6px 6px 2px 1px rgba(252, 216, 192, 0.938);
}
h4 {
  margin: auto;
  background:#4c5760;
  border-radius: 30px;
  width: 50%;
  font-size: 1.3vw;
  position: relative;
  left: 10px;
   color:rgb(236, 224, 199);
}

.choices button {
  height: 17%;
  margin: auto;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  font-size: 100%;
  border-radius: 30px;
  font-size: 1.6vw;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.2);
  white-space: nowrap;
}

li {
  list-style: none;
}

.submission {
  border: 1px solid black;
  width: 100%;
}
