body{
    background: url("/img/cafeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

tbody{
    padding: 5z5;
}
h3{
    color: white;
    background: #66635B;
    padding: 2px;
}

th{
    background: #A59E8C;
}

tr{
    background:  #4c5760;
    color: white;
}

.loginInfo{
    width: 40%;
    margin:auto;
    padding: 1%;
    border-radius: 30px;
    background: #a59e8cd0;

}
